*{margin: 0; padding: 0;}
html,body{width: 100%; height: 100%; overflow: auto;}
#music{ width: 8%; height: 8%; position: fixed; top: 3%; right: 4%; z-index: 99;}
#music img{ display: block; width: 100%;}
.swiper-container{ width: 100%; height: 100%;}
.swiper-wrapper{ width: 100%; height: 100%;}
.one{ background: #666;}
.one img,.two img,.five img{ display: block; position: absolute;}
.one .mg1{ width: 100%; height: 100%;}
.two{ background: url(../img/4-1.jpg) no-repeat; background-size: 100% 100%;}
.two .mg2,.two .mg3,.two .mg4{ width: 60%; top: 20%; left: 23%; -webkit-transform: rotate(-49deg);}
.two .mg3{ top: 45%;}
.two .mg4{ top: 69%;}
.one .wenzi{ font-size: 1.5rem; display: block; color:gold; position: absolute; top: 45%; left: 20%; font-family: "arial rounded mt bold";
 -webkit-transform: rotate(-30deg);}
.two p{ width: 100%; text-align: center; font-size: 1rem; color: #fff; top: 5%; line-height: 1rem; position: absolute; z-index: 10; text-shadow: 10px 10px 10px yellow;}
.swiper-pagination-bullet{ width: 30px; height: 30px;}
.three{ background: url(../img/5.jpg) no-repeat; background-size: 100% 100%; color: orangered;}
.three h2{ font-size: 1rem; width: 100%; text-align: center; padding: 5% 0; text-shadow: 10px 10px 5px blanchedalmond;}
.three p,.five p{ font-size: 0.3rem; line-height: 0.5rem; margin: 3% 10%;}
.four{ background: url(../img/22.jpg) no-repeat center; background-size: 100% 100%;}
.four p{ text-align: center; position: relative;font-size: 1rem; color: palevioletred; text-shadow: 15px 15px 20px pink;}
.four .mg5{ margin:35% 27%;}
.five{background: url(../img/11.jpg) no-repeat;background-size: 100% 100%;}
.five p{ width: 100%; text-align: center; font-size: 1rem; color: blanchedalmond; top: 5%; line-height: 1rem; position: absolute; z-index: 10;text-shadow: 10px 10px 10px #FFD700; }
.five .p1{padding-top: 25%;font-size: 0.5rem;color: palegreen;}
.five .p2,.five .p3 {padding-top: 70%;font-size: 1rem; color: palegreen;}
.five .p3{padding-top: 115%;}
.five .mg2,.five .mg3,.five .mg4 {width: 60%; top: 20%; left: 23%; -webkit-transform: rotate(49deg);}
.five .mg3{top: 45%;}
.five .mg4{top: 70%;}
